name: Check Manifest

on:
  pull_request:
    paths:
      - "west.yml"
      - ".github/workflows/check_manifest.yml"

jobs:
  check-manifest:
    runs-on: sonu-github-arc
    container:
      image: ghcr.io/catie-aq/zephyr_docker:v4.2.0-202508-ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: workdir

      - uses: catie-aq/zephyr_workflows/zephyr_init@main
        with:
          personal_access_token: ${{ secrets.PAT }}

  core:
    needs: check-manifest
    runs-on: sonu-github-arc
    container:
      image: ghcr.io/catie-aq/zephyr_docker:v4.2.0-202508-ci
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
      ZEPHYR_VERSION: "v4.2.0"
      TWISTER_OPTIONS: "--force-color --inline-logs -v --clobber-output"
      TAGS: "DAC,ieee802154,counter,gpio,serial,i2c,i3c,UART,qspi,pwm,button,usb,spi,lora,i2s,mipi_dbi,wifi,ethernet,nvs,uart,dma,clock_control,usbc,watchdog,dac,w1,input,peci,can,bluetooth,adc,clock"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: workdir

      - name: Update west.yml
        shell: bash
        run: |
          sed -i -z 's|    - name: catie-6tron\n      url-base: https://github.com/catie-aq|    - name: catie-6tron\n      url-base: https://github.com/catie-aq\n    - name: zephyrproject-rtos\n      url-base: https://github.com/zephyrproject-rtos|g' workdir/west.yml

      - name: Add Zephyr to manifest (workdir/west.yml)
        shell: bash
        run: |
          cat << EOF >> workdir/west.yml
              - name: zephyr
                remote: zephyrproject-rtos
                revision: ${{ env.ZEPHYR_VERSION }}
                import:
                  name-allowlist:
                    - cmsis
                    - cmsis_6
                    - hal_stm32
                    - hal_nordic
                    - loramac-node
                    - trusted-firmware-m
                    - mbedtls
                    - fatfs
                    - mcuboot
                    - open-amp
                    - libmetal
          EOF

      - uses: catie-aq/zephyr_workflows/zephyr_init@main
        with:
          personal_access_token: ${{ secrets.CI_6TRON_ZEPHYR_RO }}

      - name: Zest_Core_FMLR-72
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_fmlr-72"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_MTXDOT
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_mtxdot"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_NRF52832
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_nrf52832"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_NRF5340 CPUAPP
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_nrf5340/nrf5340/cpuapp"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_NRF5340 CPUAPP NS
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_nrf5340/nrf5340/cpuapp/ns"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_NRF5340 CPUNET
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_nrf5340/nrf5340/cpunet"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_STM32G474VE
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_stm32g474ve"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_STM32H753ZI
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_stm32h753zi"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_STM32L4A6RG
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_stm32l4a6rg"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Zest_Core_STM32L562VE
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "zest_core_stm32l562ve"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Z_IAQ
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "z_iaq"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

      - name: Z_Motion
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          board: "z_motion"
          options: ${{ env.TWISTER_OPTIONS }}
          tags: ${{ env.TAGS }}

  shield:
    needs: check-manifest
    runs-on: sonu-github-arc
    container:
      image: ghcr.io/catie-aq/zephyr_docker:v4.2.0-202508-ci
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
      ZEPHYR_VERSION: "v4.2.0"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: workdir

      - name: Update west.yml
        shell: bash
        run: |
          sed -i -z 's|    - name: catie-6tron\n      url-base: https://github.com/catie-aq|    - name: catie-6tron\n      url-base: https://github.com/catie-aq\n    - name: zephyrproject-rtos\n      url-base: https://github.com/zephyrproject-rtos|g' workdir/west.yml

      - name: Add Zephyr to manifest (workdir/west.yml)
        shell: bash
        run: |
          cat << EOF >> workdir/west.yml
              - name: zephyr
                remote: zephyrproject-rtos
                revision: ${{ env.ZEPHYR_VERSION }}
                import:
                  name-allowlist:
                    - cmsis
                    - cmsis_6
                    - hal_stm32
          EOF

      - uses: catie-aq/zephyr_workflows/zephyr_init@main
        with:
          personal_access_token: ${{ secrets.CI_6TRON_ZEPHYR_RO }}

      - name: Zest_Adapter_Click
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_adapter_click

      - name: Zest_Battery_LiPo
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_battery_lipo

      - name: Zest_Display_LCD
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_display_lcd

      - name: Zest_Interface_Ethernet
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_interface_ethernet

      - name: Zest_Interface_RS232
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_interface_rs232

      - name: Zest_Interface_RS485
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_interface_rs485

      - name: Zest_Radio_GNSS
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_radio_gnss

      - name: Zest_Radio_LoRa868
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_radio_lora868

      - name: Zest_Radio_WiFi
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_radio_wifi

      - name: Zest_RTC_RV8803-C7
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_rtc_rv8803-c7

      - name: Zest_Sensor_IMU
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_sensor_imu

      - name: Zest_Sensor_P-T-RH
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_sensor_p-t-rh

      - name: Zest_Storage_MicroSD
        uses: catie-aq/zephyr_workflows/zephyr_build@main
        if: always()
        with:
          board: zest_core_stm32l4a6rg
          application: zephyr/samples/basic/blinky
          shield: zest_storage_microsd

  driver:
    needs: check-manifest
    runs-on: sonu-github-arc
    container:
      image: ghcr.io/catie-aq/zephyr_docker:v4.2.0-202508-ci
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
      ZEPHYR_VERSION: "v4.2.0"
      TWISTER_OPTIONS: "--force-color --inline-logs -v --clobber-output --integration"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: workdir

      - name: Update west.yml
        shell: bash
        run: |
          sed -i -z 's|    - name: catie-6tron\n      url-base: https://github.com/catie-aq|    - name: catie-6tron\n      url-base: https://github.com/catie-aq\n    - name: zephyrproject-rtos\n      url-base: https://github.com/zephyrproject-rtos|g' workdir/west.yml

      - name: Add Zephyr to manifest (workdir/west.yml)
        shell: bash
        run: |
          cat << EOF >> workdir/west.yml
              - name: zephyr
                remote: zephyrproject-rtos
                revision: ${{ env.ZEPHYR_VERSION }}
                import:
                  name-allowlist:
                    - cmsis
                    - cmsis_6
                    - hal_stm32
          EOF

      - uses: catie-aq/zephyr_workflows/zephyr_init@main
        with:
          personal_access_token: ${{ secrets.CI_6TRON_ZEPHYR_RO }}

      - name: Bosch BNO055
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/bosch_bno055/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Honeywell HPMA115
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/honeywell_hpma115/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Ilitek ILI9163C
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/ilitek_ili9163c/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Maxim MAX17201
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/maxim_max17201/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Microchip MCP3425
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/microchip_mcp3425/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Micro Crystal RV8803
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/microcrystal_rv8803/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Quectel L86 GNSS
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/quectel_l86/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: TE Connectivity HTU21D
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/te-connectivity_htu21d/samples
          options: ${{ env.TWISTER_OPTIONS }}

      - name: Texas Instrument TSC2003
        uses: catie-aq/zephyr_workflows/zephyr_twister@main
        if: always()
        with:
          path: 6tron/drivers/ti_tsc2003/samples
          options: ${{ env.TWISTER_OPTIONS }}
